@import './const.scss';
@import './adaptive.scss';

.header-wrapper {
  width: 100%;
  background-color: $white;
  max-height: 60px;
}
.header {
  max-width: $MAX_CONTAINER_WIDTH;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 13px 0px;

  @include for-mobile() {
    padding: 13px 16px;
  }

  @include for-tablets() {
    padding: 13px 32px;
  }

  @include for-laptop() {
    padding: 13px 60px;
  }

  &-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-link-container {
    display: flex;
    > :first-child {
      margin-right: 10px;
    }
  }

  &-link {
    line-height: 34px;
    @extend %DefaultButton;
    text-align: center;
  }
  &-link:hover {
    @extend %DefaultHover;
  }
}
