@import './const.scss';
@import './adaptive.scss';
$bg-image: url('../../img/png/backgroundImage.png');

.info-block {
  display: flex;
  width: 100vw;
  max-width: $MAX_CONTAINER_WIDTH;
  height: 650px;
  background: $bg-image;

  @include for-mobile() {
    max-height: 500px;
  }
  @include for-tablets() {
    max-height: 500px;
  }

  &-container {
    max-width: 380px;
    margin: auto;
    color: $white;
    text-align: center;
    &-heading {
      @extend %H1;
    }
    &-text {
      @extend %Body16;
    }
  }
}
