//width

$MAX_CONTAINER_WIDTH: 1170px;

//main

$white: #ffffff;
$black: #000000de;
$black87: rgba(0, 0, 0, 0.87);
//backgrounds

$grayBackground: #e5e5e5;

$transparentBackground: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

//inputs

$lightGrayInput: #f8f8f8;
$textInput: #7e7e7e;

//borders

$inputBorder: #d0cfcf;

//buttons

$activeBtn: #f4e041;
$hoverBtn: #ffe302;
$disableBtn: #b4b4b4;

//radio-btn
$radioBtn: #00bdd3;
//loader
$loaderColor: #00bdd3;

//Text
$font-famile: 'Nunito';

%DefaultTextProp {
  font-family: 'Nunito';
  font-weight: 400;
}
%H1 {
  @extend %DefaultTextProp;
  font-size: 40px;
  overflow-y: hidden;
}
%Body16 {
  @extend %DefaultTextProp;
  font-size: 16px;
}
%HelperText {
  @extend %DefaultTextProp;
  font-size: 12px;
}

//Button
%DefaultButton {
  @extend %Body16;
  width: 100px;
  height: 34px;
  border-radius: 80px;
  cursor: pointer;
  border: none;
  background: $activeBtn;
  color: $black87;

  transition-duration: 0.4s;
}

%DefaultHover {
  background: $hoverBtn;
}

%DisableButton {
  @extend %Body16;
  width: 100px;
  height: 34px;
  border-radius: 80px;
  cursor: pointer;
  border: none;
  background: $disableBtn;
  color: $white;

  transition-duration: 0.4s;
}

//Loader
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid $loaderColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
